
*{
  padding: 0px;
  margin: 0px;
}
 button{
    position: inherit;

 }



.navbar-brand ,.display-6 ,.card-title,.nav-item{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  }

 
.offcanvas-title  h5 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.offcanvas-header h5,.container-fluids{
    font-family: "Jacques Francois Shadow", serif;
font-weight: 600;
font-style: normal;
color: aliceblue;

  }
 
  
  
 


/* 
subtittle */


    .sub-title{
        margin-top: 7rem;
        display: flex;
        justify-content: center;
        text-align: center;
       
       
        
        
      
        
    }

    .sub-title p{
        font-size:x-large;
        border: 3px solid #664cc7;
        border-radius: 20%;
        padding:0 6rem;
       background-color: rgba(0, 0, 0, 0.5);
       color: #c68add;
       box-shadow: 0 0 20px rgb(97, 177, 231);
      
      

    }

    .sub-title p:hover{
        background-color: #dadfc7;
        color: #0f0f0f;

    }





/* 
.education style */


.education
        {
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 0 20px rgb(97, 177, 231);
        }
 .education img {
            max-width :75%;
            height: auto;
            border-radius: 10px;
        }
        .education p{
          color:white;
      }
      .education h3{
          color: #661496;
      }

      .education section{
          height: 25px;
          width: 25px;

      }


    /*   projects */



 .slides-container{
    display: flex;
    gap: 1rem;
    height: 300px;
    width: 95;
    margin: 2rem;
    }

.slides-container div{
    flex: 1;
    transition: all 1s;
    border-radius: 5%;
    box-shadow: 0 0 20px rgb(65, 240, 30)
}

.slides-container div:first-child{
    background: url("images/project img 1_files.jfif");
    background-position: center;
    background-size: cover;
}

.slides-container div:nth-child(2){
    background:url("images/project img 2.html") ;
    background-position: center;
    background-size: cover;
}

.slides-container div:last-child{
    background: url("images/project img 3.html");
    background-position: center;
    background-size: cover;
}

.slides-container div:hover{
    flex: 6;
}


    /* button for resume and search */
    
    button {
        position:static;
        top: 100%;
        background-color: rgba(105, 93, 105, 0.5);
        color: rgb(218, 229, 166);
        border: none;
        cursor: pointer;
        padding: 10px;
        font: size 50px;;
        z-index: 100;
        transform: translateY(0%);
    }
    
    .prev {
        left: 10px;
    }
    
    .next {
        right: 10px;
    }

    .glow-on-hover::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300%;
        height: 300%;
        
        transition: opacity 0.3s ease;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 0;
        opacity: 0;
    }
    
    .glow-on-hover:hover::before {
        opacity: 1;
    }
    
    .glow-on-hover:hover {
        background-color: #f8cab8;
        box-shadow: 0 0 20px rgb(209, 45, 195);
    }
    
    .glow-on-hover {
        box-shadow: 0 0 10px rgb(9, 245, 9); /* Initial glowing effect */
    }

   /*  style for .skills-list */

    .container p{
        font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    }

    .skill-item li{
        font-family: "Nerko One", cursive;
        font-weight: 400;
        font-style: normal;}

    .skills.container{
        margin-bottom: 100px;
    }

    
    .skill-item{
        background-color:black;
        box-shadow: 0 0 20px rgb(223, 230, 126);
    }
    .skills-list li{
        list-style-type:none;
    }
    .skills-list p{
        background-color: #ebe7d3;
        color: rgb(180, 32, 32);
    }
    
    .container-fluid p{
        background-color: #777254;
        color: rgb(180, 32, 32);
    }
    .div1{
        margin-bottom: 50px;
    }
    
     .skill-item ol li::before {
        content: ""; /* Overrides the default number */
    }

   /* contact button style */
    
   

    

/* Footer Styles */
.footer {
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
    padding: 20px;
    position:sticky;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

/* Social Icons Styles */   /* Social Icons Styles */
.social-icons {
    margin-top: 10px;
}

.social-icon {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 16px;
   
    
}

.social-icon:hover {
    color: #ffd700; /* Gold color on hover */
    transform: scale(1.1); /* Slightly enlarges the icon */
}

/* Animation Example */
.social-icon.linkedin::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    
    
}

.social-icon.gmail::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
}

.social-icon.github::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
}
.social-icon.whatsapp::before {
    content: " ";
    display: inline-block;
    margin-right: 5px;
}
.social-icon.instagram::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
}



.glow-on-hover {
    background-color: #cef079e3;
    border: none;
    color: #ddc3c3;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: background-color 0.3s ease;
}



 
@media screen and (max-width:576px){
    
        *{
            padding: 0;
            margin: 0;
            font-size: 0.7rem;
            
        }
        button{

            display: inherit;
        }
        
        header{
            position: relative;
           
        }


       /*  navbar style
 */

        
       
        .offcanvasNavbarLabel {
            display: flex;
            position: absolute;
       
       }
       
       .navbar{
        background-color:rgb(7, 50, 194);
        position: relative;
        padding: 1.5rem;
        }
    
        .navbar-brand h3{
            position:absolute;
            bottom: 1rem;
            right:0.5rem;
           padding-right: 10rem;
           
        }

        .navbar-toggler:hover{
            box-shadow: 0 0 20px rgb(1, 12, 17);

        }
        
        .offcanvas-body{
            background-color: #ddc3c3;
            min-width: 50px 10vw;

        }
        .nav-item a{
          
            font-size: large;
            
        }


        /* resume */

        #openPdfButton a{
          padding-left: 2rem
        }
    /*  Nav bar toggler*/

  .offcanvas{
    max-width: 40%;
    min-height: 400px;
  }
  

    


       /* .education style: */ ;

       
   .education{
        background-color: rgba(0, 0, 0, 0.5); 
        border-radius: 20px;
       }


     /*   contact button */
       
        #contact{
        position:relative ;
       
      
       }

       .container-fluids{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
      
       }
       .container-fluids a{
        text-decoration: none;
       }

      /* sub tittle about my portfolio */
       
      
      .sub-title{
    display: flex;
    margin-top: 7rem;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    
}

     .card-body p{
        font-weight: 100;
        font-size: small;
       

     }

    /*  .social-icon */
      
    .social-icons {
        margin-top: 10px;
      transform: scale(1.5);
    }

    .social-icon:hover{
        text-shadow: 0 0 20px rgba(253, 250, 250, 0.849);
        
    }




   /*  project slider */

   .slides-container div{
    border: 2px solid #87bba1;
   
   }




    
       
/*  skills style */

/* .prev,.next{
    display:inline-block;
}
   .slideshow-container{
    min-width: 10px 5vh;
   }

  
  */
}

 @media screen and (min-width:576px) and (max-width:992px){

    .offcanvasNavbarLabel {
        display: flex;
        position: absolute;
   
   }
   
   .navbar{
    background-color:rgb(7, 50, 194);
    position: relative;
    padding: 1.5rem;
    }

    .navbar-brand h3{
        position:absolute;
        bottom: 1rem;
        right:5rem;
       padding-right: 10rem;
       
    }

    .navbar-toggler:hover{
        box-shadow: 0 0 20px rgb(1, 12, 17);

    }
    
    .offcanvas-body{
        background-color: #ddc3c3;
        min-width: 50px 10vw;

    }
    .nav-item a{
      
        font-size: large;
        
    }

  /*   .sub-title */
     
    .sub-title{
        display: flex;
        margin-top: 8rem;
        justify-content: center;
        text-align: center;
        border-radius: 20px;
        
    }
    
         .card-body p{
            font-weight: 100;
            font-size: xx-large;
           
    
         }

       /*   contact */

       #contact{
        position:relative ;
       
      
       }

       .container-fluids{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
      
       }
       .container-fluids a{
        text-decoration: none;
       }

    
 }


 @media screen and (min-width:992px){


    /* heading navbar */

    
       
    .offcanvasNavbarLabel {
        display: flex;
        position: absolute;
   
   }
   
   .navbar{
    background-color:rgb(7, 50, 194);
    position: relative;
    padding: 1.5rem;
    }

    .navbar-brand h3{
        position:absolute;
        bottom: 1rem;
        right:20rem;
       padding-right: 10rem;
       
    }

    .navbar-toggler:hover{
        box-shadow: 0 0 20px rgb(1, 12, 17);

    }
    
    .offcanvas-body{
        background-color: #ddc3c3;
        min-width: 50px 10vw;

    }
    .nav-item a{
      
        font-size: large;
        
    }

  /*   .sub-title */
     
    .sub-title{
        display: flex;
        margin-top: 8rem;
        justify-content: center;
        text-align: center;
        border-radius: 20px;
        
    }
    
         .card-body p{
            font-weight: 100;
            font-size: xx-large;
           
    
         }

       /*   contact */

       #contact{
        position:relative ;
       
      
       }

       .container-fluids{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
      
       }
       .container-fluids a{
        text-decoration: none;
       }

      /*  project */


      .slides-container{
        
        gap: 2rem;
        height: 400px;
        width: 95;
        margin-left: 10rem;
        margin-right: 10rem;
        }
    
    
    
    



 }
       




      
   


    


  
